body{
color: #fff;
  /*background-color: #d21034;*/
}

/*.navbar-default{
    color: #483312;
    background-color: #EDCC49;
    margin:0;
    border: 0;
    border-color: #120100;
    border-bottom: 1px
}*/
