 .nav a {
    color: white;
    &:hover {
        background-color: #A6A354;
        color: white;
    }
    &:focus {
        background-color: #74723A;
        color: white;
    }
}

 .nav .active a {
    background-color: #74723A;
}

 .navbar-default .navbar-toggle {
    background-color: #A6A354;
    border-color: transparent;
    color: #ffffff;
}

 .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

 .navbar-default .navbar-brand {
    color: white;
}

 .dropdown-menu{
  background-color: #46302D;
  border-radius: none;
}

 .dropdown-menu > li > a, .dropdown-menu > li > a:focus{
    background-color: #46302D;
    color: white;
}
