#bootstrap-overrides html, body{
  background-color: #737530; 
},

#bootstrap-overrides .jumbotron{
	background-color: #666666;
	color: #111111;
}


/*colors*/
  /*a5a745*/
  /*737530*/
  /*EAE2D1*/
  /*#F6F3ED*/
